@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe8cb;
}

/* Margin sizes */

.m-y {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-x {
  margin-left: 20px;
  margin-right: 20px;
}

.m-top {
  margin-top: 20px;
}

.m-right {
  margin-right: 20px;
}

.m-left {
  margin-left: 20px;
}

.m-bottom {
  margin-bottom: 20px;
}
/* Padding sizes */

.p-top {
  padding-top: 20px;
}

.p-right {
  padding-right: 20px;
}

.p-left {
  padding-left: 20px;
}

.p-bottom {
  padding-bottom: 20px;
}

/* Card */

.card {
  background-color: rgb(255, 211, 158);
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  height: 300px;
  border: 3px solid hsl(52, 100%, 32%);
}

/* header styles*/

#header h1 {
  font-size: 2em;
  color: #fff;
  background-color: hsl(33, 72%, 28%);
}

/* Navigation */

#navigation {
  font-size: 1.1em;
}

#navigation p {
  font-size: 1.3em;
}

#navigation .nav-list {
  list-style-type: decimal;
}

#navigation .nav-list li {
  margin: 8px 0;
}

#navigation .nav-list li a {
  text-decoration: none;
  color: hsl(246, 100%, 18%);
}

#navigation .nav-list li a:hover {
  color: hsl(52, 100%, 32%);
}

/* Main content styles */

#main-content {
  padding: 25px;
}

h2,
h3,
h4 {
  color: hsl(41, 100%, 14%);
  margin-top: 15px;
  margin-bottom: 25px;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

/* Introduction */

#introduction p,
#box-model > p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Box Model */

.box-model-example,
.styling-box-margin-sides,
.styling-box-padding-sides {
  display: flex;
  background-color: hsl(41, 100%, 9%);
  max-width: 950px;
  margin: 25px auto;
  height: min-content;
  border-radius: 15px;
  border: 10px solid hsl(30.9, 98.3%, 46.9%);
}

.box-model-example div p:first-child,
.styling-box-margin-sides div p:first-child,
.styling-box-padding-sides div div p:first-child {
  font-size: 1.5em;
  color: hsl(42, 100%, 4%);
  margin-bottom: 15px;
  font-weight: bold;
}

.box-model-example div,
.styling-box-margin-sides div,
.styling-box-padding-sides > div {
  background-color: rgb(255, 211, 158);
  border-radius: 15px;
  max-width: 33.33%;
  border: 3px solid hsl(52, 100%, 32%);
}

.styling-box-padding-sides > div {
  width: 25%;
}

.styling-box-padding-sides div div {
  border: 1px solid black;
  height: max-content;
}

.box-model-example .content {
  flex: 1;
  padding: 0px;
  margin: 0px;
}

.box-model-example .padding {
  padding: 30px;
}

.box-model-example .margin {
  margin: 30px;
}

.styling-box-margin-sides .margin-top {
  margin-top: 30px;
}

.styling-box-margin-sides .margin-right {
  margin-right: 30px;
}

.styling-box-margin-sides .margin-left {
  margin-left: 30px;
}

.styling-box-margin-sides .margin-bottom {
  margin-bottom: 30px;
}

.styling-box-padding-sides {
  padding: 10px;
}

.styling-box-padding-sides .padding-top {
  padding-top: 35px;
}

.styling-box-padding-sides .padding-right {
  padding-right: 35px;
}

.styling-box-padding-sides .padding-left {
  padding-left: 35px;
}

.styling-box-padding-sides .padding-bottom {
  padding-bottom: 35px;
}

/* Positioning */

.styling-positions {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(41, 100%, 9%);
  width: 70%;
  height: max-content;
  margin: 25px auto;
  border-radius: 15px;
  border: 10px solid hsl(30.9, 98.3%, 46.9%);
}

.styling-positions .positions {
  position: relative;
  background-color: rgb(255, 211, 158);
  padding: 10px;
  margin: 15px;
  width: 400px;
  height: 330px;
  border: 5px solid hsl(52, 100%, 32%);
  border-radius: 15px;
}

.styling-positions .positions p {
  margin: 5px;
  padding: 10px;
}

.static-position,
.relative-position,
.absolute-position,
.float-position,
.fixed-position {
  background-color: rgb(173, 173, 173);
}

.static-position {
  position: initial; /* static */
}

.relative-position {
  position: relative;
  right: -30%;
  top: 0%;
}

.absolute-position {
  position: absolute;
  top: 50%;
  left: 50%;
}

.float-position {
  position: float;
  float: right;
  width: 100px;
}

.fixed-position {
  position: fixed;
  right: 0;
  top: 50%;
  width: 150px;
}

/* Texts and Fonts */

/* Typefaces */

.styling-typefaces {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(41, 100%, 9%);
  width: 75%;
  height: max-content;
  margin: 25px auto;
  padding: 10px;
  border-radius: 15px;
  border: 10px solid hsl(30.9, 98.3%, 46.9%);
}

.styling-typefaces .card {
  height: 200px;
}

.styling-typefaces ul {
  list-style-type: decimal;
}

.styling-typefaces ul li {
  margin: 10px 20px;
}

.serif ul li:nth-of-type(1) {
  font-family: Georgia;
}

.serif ul li:nth-of-type(2) {
  font-family: Times;
}

.serif ul li:nth-of-type(3) {
  font-family: 'Times New Roman';
}

.sans-serif ul li:nth-of-type(1) {
  font-family: Arial;
}

.sans-serif ul li:nth-of-type(2) {
  font-family: Verdana;
}

.sans-serif ul li:nth-of-type(3) {
  font-family: Helvetica;
}

.monospace ul li:nth-of-type(1) {
  font-family: Courier;
}

.monospace ul li:nth-of-type(2) {
  font-family: 'Courier New';
}

.cursive ul li:nth-of-type(1) {
  font-family: 'Comic Neue';
}

.cursive ul li:nth-of-type(2) {
  font-family: 'Petit Formal Script';
}

.fantasy ul li:nth-of-type(1) {
  font-family: 'Freckle Face';
}

.fantasy ul li:nth-of-type(2) {
  font-family: 'Luckiest Guy';
}

/* Styling Texts */

.styling-texts {
  display: flex;
  flex-direction: column;
  background-color: hsl(41, 100%, 9%);
  width: 75%;
  height: max-content;
  margin: 25px auto;
  padding: 10px;
  border-radius: 15px;
  border: 10px solid hsl(30.9, 98.3%, 46.9%);
}

.text-transform,
.text-decoration,
.text-alignment,
.text-color,
.text-size,
.text-weight,
.text-shadow,
.vertical-text,
.text-indentation {
  background-color: rgb(255, 211, 158);
  padding: 10px;
  margin: 10px;
  border: 3px solid hsl(52, 100%, 32%);
  border-radius: 15px;
  line-height: 1.6;
}

/* Transform */

.text-transform .uppercase {
  text-transform: uppercase;
}

.text-transform .lowercase {
  text-transform: lowercase;
}

.text-transform .capitalize {
  text-transform: capitalize;
}

/* Decoration */

.text-decoration .underline {
  text-decoration: underline;
}

.text-decoration .line-through {
  text-decoration: line-through;
}

.text-decoration .overline {
  text-decoration: overline;
}

/* Alignment */

.text-alignment .text-left {
  text-align: left;
}

.text-alignment .text-center {
  text-align: center;
}

.text-alignment .text-right {
  text-align: right;
}

.text-alignment .text-justify {
  text-align: justify;
}

/* Color */

.text-color .text-red {
  color: red;
}

.text-color .text-blue {
  color: blue;
}

.text-color .text-green {
  color: green;
}

.text-color .text-yellow {
  color: yellow;
}

.text-color .text-purple {
  color: purple;
}

/* Size */

.text-size .text-small {
  font-size: 0.8em;
}

.text-size .text-medium {
  font-size: 1.2em;
}

.text-size .text-large {
  font-size: 1.5em;
}

.text-size .text-xlarge {
  font-size: 2em;
}

.text-size .text-xxlarge {
  font-size: 3em;
}

.text-size .text-xxxlarge {
  font-size: 4em;
}

/* Weight */

.text-weight .text-lighter {
  font-weight: lighter;
}

.text-weight .text-light {
  font-weight: 300;
}

.text-weight .text-normal {
  font-weight: 400;
}

.text-weight .text-bold {
  font-weight: 700;
}

/* Shadow */

.text-shadow .text-shadow-example {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.text-shadow .text-shadow-example-2 {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Vertical Alignment */

.vertical-text .vertical-text-rl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.vertical-text .vertical-text-lr {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

/* Indentation */

.text-indentation .text-indent-example {
  text-indent: 50px;
}

.text-indentation .text-indent-example-2 {
  text-indent: 30px;
}

/* Background Styling */

.background-styling {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 211, 158);
  width: 75%;
  height: max-content;
  margin: 25px auto;
  padding: 10px;
  border-radius: 15px;
  border: 10px solid hsl(30.9, 98.3%, 46.9%);
}

.background-color > div,
.background-image > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: max-content;
  padding: 10px;
  margin: 10px;
}

.background-color .card,
.background-image .card {
  margin: 10px;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-linear-gradient {
  background: linear-gradient(to right, red, yellow);
}

.bg-radial-gradient {
  background: radial-gradient(circle, red, yellow);
}

.bg-conic-gradient {
  background: conic-gradient(red, yellow, green);
}

.bg-image-example {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=300&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-repeat {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=300&q=80');
  background-size: auto;
  background-repeat: repeat;
}

.bg-image-cover {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=300&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-image-contain {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=300&q=80');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-image-position {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=300&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

/* Boxes and Borders */

.boxes-and-borders {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 211, 158);
  width: 75%;
  height: max-content;
  margin: 25px auto;
  padding: 10px;
  border-radius: 15px;
  border: 10px solid hsl(30.9, 98.3%, 46.9%);
}

.border-styles > div,
.border-widths > div,
.border-colors > div,
.box-shadow > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: max-content;
  padding: 10px;
  margin: 10px;
}
.border-styles .card,
.border-widths .card,
.border-colors .card,
.box-shadow .card {
  margin: 10px;
  padding: 10px;
  background-color: hsl(52, 100%, 32%);
}

.border-styles .border-solid {
  border: 5px solid hsl(41, 100%, 9%);
}

.border-styles .border-dashed {
  border: 5px dashed hsl(41, 100%, 9%);
}

.border-styles .border-dotted {
  border: 5px dotted hsl(41, 100%, 9%);
}

.border-styles .border-double {
  border: 5px double hsl(41, 100%, 9%);
}

.border-styles .border-groove {
  border: 5px groove hsl(41, 100%, 9%);
}

.border-widths .border-thin {
  border: 2px solid hsl(41, 100%, 9%);
}

.border-widths .border-medium {
  border: 5px solid hsl(41, 100%, 9%);
}

.border-widths .border-thick {
  border: 10px solid hsl(41, 100%, 9%);
}

.border-colors .border-red {
  border: 5px solid red;
}

.border-colors .border-green {
  border: 5px solid green;
}

.box-shadow .box-shadow-example {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.box-shadow .box-shadow-example-2 {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Links and Buttons */

.buttons-and-links {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(41, 100%, 9%);
  width: 90%;
  height: max-content;
  margin: 25px auto;
  border-radius: 15px;
  border: 10px solid hsl(30.9, 98.3%, 46.9%);
}

.button-styles,
.link-styles {
  background-color: rgb(255, 211, 158);
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  border: 3px solid hsl(52, 100%, 32%);
  border-radius: 15px;
  line-height: 1.6;
}

.btn {
  width: max-content;
  font-size: 1.2rem;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  border: transparent;
  cursor: pointer;
}

.light-btn {
  background-color: hsl(52, 100%, 32%);
}

.light-btn:hover,
.light-btn:focus {
  background-color: hsl(30.9, 98.3%, 46.9%);
  border: 4px solid hsl(52, 100%, 32%);
}

.dark-btn {
  background-color: hsl(41, 100%, 9%);
  color: #ffe8cb;
}

.dark-btn:hover,
.dark-btn:focus {
  background-color: hsl(52, 100%, 32%);
  color: hsl(42, 100%, 4%);
  border: 4px solid hsl(30.9, 98.3%, 46.9%);
}

.image-btn {
  background: rgba(255, 255, 255, 0.3)
    url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=300&q=80');
}

.image-btn:hover,
.image-btn:focus {
  background: rgba(255, 255, 255, 0.7)
    url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=300&q=80');
  border: 4px solid #ffe8cb;
}

.outline-btn {
  background: transparent;
  border: 4px solid hsl(41, 100%, 9%);
}

.outline-btn:hover,
.outline-btn:focus {
  background-color: hsl(41, 100%, 14%);
  color: #ffe8cb;
  border: 4px solid hsl(30.9, 98.3%, 46.9%);
}

.link {
  text-decoration: none;
}

.styled-link {
  text-decoration: none;
  color: hsl(246, 39%, 22%);
  font-size: x-large;
}

.styled-link:hover {
  color: hsl(32, 100%, 32%);
}

/* Footer */

#footer {
  text-align: center;
  place-content: center;
  width: 100vw;
  height: 100px;
  font-size: 1.3em;
  color: #fff;
  background-color: hsl(33, 72%, 28%);
}
